laba_17/PowerTools.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PowerTools" type="PowerToolsType"/>
  <xs:complexType name="tsType">
    <xs:sequence>
      <xs:element type="xs:string" name="UseAnergy"/>
      <xs:element type="xs:string" name="Perfomance"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PowerToolsType">
    <xs:sequence>
      <xs:element type="xs:string" name="model"/>
      <xs:element type="xs:string" name="handy"/>
      <xs:element type="xs:string" name="origin"/>
      <xs:element type="tsType" name="ts"/>
      <xs:element type="xs:string" name="material"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>